@import url('https://fonts.googleapis.com/css?family=Roboto|Sedgwick+Ave');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);



 
h2 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:15px;
    text-align: left;
    font-family: 'Sedgwick Ave';
}


.blog {
  background-color:#f6f6f6;
  margin-top:80px;
	padding:30px 0px;
    font-family: 'Raleway', sans-serif;
}



.blog  span {
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}
.fa.fa-user, .fa.fa-clock-o {
    padding-right: 10px;
    color: #909090;
    font-size: 11px;
}




body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#asia1{
  padding:0;
  margin:0;
  border:0;
  background-color:#1f2122;
  box-shadow: 40px 2px 40px 0 rgb(238, 208, 208) inset;
  
  
}

#zone{
  color:white;
  padding-top:15px;
  padding-bottom:0px;
 padding-left:4px;
 margin-top:2px;
 margin-bottom:0;
 font-size:20px;
  font-family: 'Sedgwick Ave';
}
#featured{
  margin-top:80px;
}

#continentAsia{
border-style: solid;
border-top-width:2;
border-right-width:0;
border-bottom-width:0;
  padding:0;
  margin-top:80px;
  margin-bottom:0;
  text-align: left;
  font-family: 'Sedgwick Ave', cursive;
}

#continentEU{
  border-style: solid;
border-top-width:2;
border-right-width:0;
border-bottom-width:0;
  padding:0;
  margin-top:20px;
  margin-bottom:0;
  text-align: left;
  font-family: 'Sedgwick Ave', cursive;
}

#continentNA{
  border-style: solid;
border-top-width:2;
border-right-width:0;
border-bottom-width:0;
  padding:0;
  margin-top:20px;
  margin-bottom:0;
  text-align: left;
  font-family: 'Sedgwick Ave', cursive;
}
#blog{
  margin: 40px 0px;
}